# API URL (Backend)
VITE_API_URL=http://localhost:3000/api

# CLOUDINARY (Client-side uploads)
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_UPLOAD_PRESET=your_upload_preset

# GOOGLE AUTH
VITE_GOOGLE_CLIENT_ID="your_google_client_id_here"
